.SM_heading{
    width: 100%;
    font-size: 22px;
    color: black;
}

.SM_main_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden; 
    width: 100%;
}

.slide {
    min-width: 100%;  
    transition: transform 0.5s ease; 
}

.SM_main_container:hover .slide {
    transform: translateX(-50%); 
}